* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #414141; */
  background: linear-gradient(
    68.4deg,
    rgba(248, 182, 204, 1) 0.5%,
    rgba(192, 198, 230, 1) 49%,
    rgba(225, 246, 240, 1) 99.8%
  );
  background-repeat: no-repeat;
  color: black;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
}
