.box {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: solid black 1px;
  border-radius: 10px;
}


.box button {
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 5px;
}
.chain-data-container .general-data {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.chain-data-container .detailed-data {
  font-size: 10px;
  margin: 10px; 
  padding: 7px;
  transition: .5s;
  border-radius: 10px;
  background: linear-gradient(
    68.4deg,
    rgb(253, 120, 164) 0.5%,
    rgb(147, 159, 224) 49%,
    rgb(164, 240, 219) 99.8%
  );
  transition: 0.3s;
}
.chain-data-container .detailed-data:hover {
  margin: 8px;
  padding: 5px;
  font-size: 12px;
}

.chain-data-container p {
  padding: 4px;
}
.chain-data-container .error {
  text-align: center;
}